.ContainerChatBot {
  color: rgb(53, 56, 65);
}

.ContainerChatBot input {
  background-color: #fff;
  color: inherit
}


.Container_Icono {
  background-color: #09c79b;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 90%;
  right: 15px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  cursor: pointer;

}

.Activo {
  display: flex;
  position: absolute;
  top: 0.5px;
  bottom: 48px;
  left: 38px;

  width: 15px;
  height: 15px;
  background-color: greenyellow;
  border-radius: 100%;

}

.IconoChat {
  width: 70%;
  margin-left: 5px;
}

.Container_Icono:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.IconoChatArrow {
  width: 80%;
}

.ContenChatBot {
  background-color: #F7F7F7;
  position: fixed;
  top: 300px;
  right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 450px;
  height: 100px;
  /*width: 19vw;
    height: 62vh;*/

  border-radius: 15px;
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;*/
  box-shadow: 2px -5px 44px 14px rgba(15, 19, 20, 0.24);
  /*padding: 10px;*/
}

.Cabecera_chatbot {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: space-between;*/

  background-color:
    /*#EF3F5D*/
    #FFF;
  border-radius: 15px 15px 0px 0px;
  padding: 10px;
  height: 50px;
  color: #535a5d;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
}

.TituloAsistente {
  display: flex;
  justify-content: center;
  width: 70%;

}

.Smart {
  width: 40px;
}

.contenidoBoot {
  /*Estilo Contenedor Chatbot Secundario*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 900px;
  /* Establece una altura máxima */
  overflow: auto;
  padding: 10px;
}

@media (max-width: 768px) {
  .contenidoBoot {
    max-height: 350px;
    /* Ajusta la altura máxima para pantallas más pequeñas */
  }
}

.contenidoBoot::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.contenidoBoot::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #888;
}

.contenidoBoot::-webkit-scrollbar-track {
  background-color: transparent;
}

.MessageBot_Usuario {
  /*Estilos encargados del cuadro de texto del usuario*/
  display: flex;
  flex-direction: column;
  gap: 2px;
  /*width: 322px;*/
  width: 200px;
  background-color: #7cffc269;
  white-space: pre-wrap;
  /*border: 2px solid #04ff8a;  Ancho, estilo (sólido) y color del borde */
  border-radius: 10px;
  padding: 15px;
  font-size: small;
  left: 15px;
  justify-content: center;
  text-align: left;
  font-family: Calibri, sans-serif;
  margin-right: 5px;
}

.MessageBot_IA {
  /*Estilos encargados del cuadro de texto de la IA*/
  display: flex;
  flex-direction: column;
  gap: 2px;
  /*width: 322px;*/
  white-space: pre-wrap;
  width: 200px;
  background-color: #7bd5ff31;
  border-radius: 10px;
  padding: 15px;
  font-size: small;
  left: 15px;
  justify-content: center;
  text-align: left;
  font-family: Calibri, sans-serif;
  margin-left: 5px;
}

.MessageBot_Inicial {
  /*Estilos Mensaje Saludo ChatBot*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 290px;
  background-color: rgba(128, 128, 128, 0.11);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-family: Arial;
  color: rgb(73, 71, 71);
  font-weight: 400;
  margin: 0 auto;
}

.RoleBoot {
  font-weight: 800;
}

.CreadorBoot {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding: 3px;
  font-size: 10PX;
  gap: 5px;
}

.contIA {
  /*Estilos Contenedor IA*/
  display: flex;
  flex-direction: row;
}

.contIAUser {
  /*Estilos Contenedor Usuario*/
  display: flex;
  flex-direction: row-reverse;
}


.ImagenBoot {
  width: 30px;
  height: 40px;
  border-radius: 100%;
}

.img_chatRoleUsuario {
  /*Estilos Iconos Usuario*/
  width: 30px;
  height: 30px;
}

.img_chatRoleIA {
  /*Estilos Iconos IA*/
  width: 30px;
  height: 30px;
}

.FechaActividad {
  display: flex;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

@media (max-width: 1600px) {

  .ContenChatBot {
    background-color: #F7F7F7;
    position: fixed;
    top: 40px;
    right: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
    height: 510px;
    /*width: 19vw;
        height: 62vh;*/

    border-radius: 15px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;*/
    box-shadow: 2px -5px 44px 14px rgba(15, 19, 20, 0.24);
    /*padding: 10px;*/
  }

}

@media (min-width: 1600px) {
  .ContenChatBot {
    width: 450px;
    /* Ajusta el ancho según tus preferencias */
    height: 650px;
    /* Ajusta la altura según tus preferencias */
    top: 200px;
    /* O cualquier otro valor que desees */
  }
}

.InputChatBot {
  margin-top: 15px;
  width: 80%;
  /* Ajusta el ancho según tus preferencias */
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  border: 1px solid #ccc;
  border-radius: 20px;
  /* Ajusta el valor para redondear los bordes */
  outline: none;
  /* Quita el borde de enfoque */
}

.InputChatBot:focus {
  border-color: #09c79b;
  /* Cambia el color del borde al enfocar el input */
}

.imgChatBot {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .ContenChatBot {
    top: 350px;
    width: 80%;
    /* Ajusta el ancho según tus preferencias */
    height: 70vh;
    /* Ajusta la altura según tus preferencias */
  }
}

@media (max-width: 992px) {
  .ContenChatBot {
    width: 80%;
    /* Ajusta el ancho según tus preferencias */
    height: 500px;
    /* Ajusta la altura según tus preferencias */
    top: 250px;
  }
}

.AccionesChatBot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.BuscarChatBot {
  margin-top: 15px;
  background-color: #ffffff;
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 0.2px solid rgb(39, 178, 134);
}

.BuscarChatBot:hover {
  background-color: #09c79b;
}

.BuscarChatBot:active {
  transform: scale(0.95);
}

.Loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #09c79b;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: auto;
}

._IconoChat_14gxo_63 {
  width: 70%;
  margin-left: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 568px) {
  .Container_Icono {
    width: 50px;
    height: 50px;
    top: 90%;
  }

  .Activo {
    width: 12px;
    height: 12px;
    top: 0.5px;
    bottom: 40px;
  }

  .IconoChat {
    width: 50%;
  }

  .IconoChatArrow {
    width: 70%;
  }

  .ContenChatBot {
    top: 30%;
    width: 80%;
    height: 55%;
  }

  .Cabecera_chatbot {
    height: 40px;
    font-size: 16px;
  }

  .TituloAsistente {
    width: 60%;
  }

  .Smart {
    width: 30px;
  }

  .contenidoBoot {
    max-height: 300px;
  }

  .MessageBot_Usuario,
  .MessageBot_IA,
  .MessageBot_Inicial {
    width: 150px;
  }

  .FechaActividad {
    font-size: 10px;
  }

  .InputChatBot {
    width: 85%;
  }

  .imgChatBot {
    width: 15px;
    height: 15px;
  }

  .BuscarChatBot {
    width: 30px;
    height: 30px;
  }

  .Loader {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .ContenChatBot {
    top: 34%;
    width: 80%;
    height: 55%;
  }

  .Cabecera_chatbot {
    height: 50px;
    font-size: 18px;
  }

  .TituloAsistente {
    width: 65%;
  }

  .Smart {
    width: 35px;
  }

  .contenidoBoot {
    max-height: 400px;
  }

  .MessageBot_Usuario,
  .MessageBot_IA,
  .MessageBot_Inicial {
    width: 300px;
  }

  .FechaActividad {
    font-size: 12px;
  }

  .InputChatBot {
    width: 75%;
  }

  .imgChatBot {
    width: 18px;
    height: 18px;
  }

  .BuscarChatBot {
    width: 40px;
    height: 40px;
  }

  .Loader {
    width: 20px;
    height: 20px;
  }
}