:root {
    --sl-sidebar-width: 20%;
    --sl-content-width: 80%
}


@media (min-width: 72rem) {
    .sl-container:where(.astro-55t2thtu) {
        margin-inline: 4rem !important;
    }
}

/* Centrar solo si contiene un hero */
.sl-container:has(> [class^="hero astro-"]) {
  margin-inline: auto !important;
  max-width: 1200px;
}

.right-sidebar {
    z-index: -1;
}

