@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --sl-font: 'Roboto', sans-serif;
  --sl-content-width: 50rem;
  --sl-text-5xl: 3.5rem;
  --sl-content-width: 80%;
  --sl-content-margin-inline: 8rem 0 !important;
}

body {
  font-weight: 400;
}

@media (min-width: 72rem) {
  .sl-container:where(.astro-idt7uanz) {
    margin-inline: 4rem auto;
  }
}


.content-panel {
  display: flex;
  justify-content: center;
}

.sl-container {
  margin: 0;
}