---
const { slug } = Astro.props;
const rutaActual = Astro.url.pathname;
const isHome = rutaActual === "/";
---

<div class={`content-wrapper ${isHome ? "content-panel" : ""}`}>
  <slot />
</div>

<style>
  .content-panel {
    display: flex;
    justify-content: center;
  }

  .sl-container {
    display: flex;
  }
</style>
